html {
  height: 100%;
  box-sizing: border-box;
  background-color: #111111;
}

html body{
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  max-width: 100%;

}

#max {
  max-width: 1600px;
  margin: 0 auto;
}

.nav-right .select {
top: 12px;
right: 20%;
position: absolute;
}

.select {
 	font-size: 12px;
	border: 2px solid #111111;
	color: white;
	background-color: #111111;
	cursor: pointer;
	 -webkit-transition: color .3s;
    -moz-transition:    color .3s;
    -ms-transition:     color .3s;
    -o-transition:      color .3s;
    transition:         color .3s;
   	-webkit-transition: background-color .3s;
    -moz-transition:    background-color .3s;
    -ms-transition:     background-color .3s;
    -o-transition:      background-color .3s;
    transition:         background-color .3s;
}

.select:focus {
	outline: -webkit-focus-ring-color 0px;
}

.select:hover {
	color: #111111;
	background-color: white;
}


.img {
	margin-right: 0%;
	margin: 0 auto;
}

.img90 img {
	width: 100%;
	display: inherit;
}

.section_case {
	margin: 0 auto;
	text-align: center;
	padding-top: 33px;
}

.part {
  background-color: #111111;
	width: 90%;
    margin: 0 auto;
}

.left-half {
	width: 48%;
	margin-right: 2%;
	float: left;
	padding-top: 4%;
	padding-bottom: 4%;
}

.right-half {
	float: right;
	width: 48%;
	margin-left: 2%;
	padding-bottom: 4%;
	padding-top: 4%;
}

.section-title {
	margin-bottom: 10px;
	color: white;
	font-size: 3rem;
}

.case-title {
	margin-bottom: 10px;
	color: white;
	font-size: 2rem;
}

.sub-title {
	margin-bottom: 10px;
	color:white;
	font-size: 2rem;
}

p {
	color:#959595;
	line-height: 1.5em;
	font-size: 1.2em;
}

.bold {
	 font-family:"Apercu Bold", 'Helvetica', Roboto, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
}


.footer {
  position: absolute;
  border-top: 1px dotted white;
  right: 0;
  bottom: -100px;
  left: 0;
  padding: 1rem;
  margin: 0 5% 0 5%;

}

.footer p {
  text-align: center;
  color: white;
  font-size: 16px;
}


.case-button { 

  background-color: white;
  font-size: 1.1em;
  padding: 15px; 
  color: #111111;
  font-weight: bold;
  -webkit-transition: background-color .3s;
    -moz-transition:    background-color .3s;
    -ms-transition:     background-color .3s;
    -o-transition:      background-color .3s;
    transition:         background-color .3s;
}

.case-button:hover {
  color:  #111111;
  background-color: #16ffbd;
}

.case-pad {
	padding-top: 20px;
	padding-bottom: 60px;
}


@media only screen and (min-width: 900px) {
.img {
		height: 47em;
	}
}

@media only screen and (max-width: 900px) {

.nav-right .select {
	right: 14em;
}
.img {
		height: 26em;
	}
.section_case {
	padding-top: 88px;
}
.left-half {
	width: 100%;
	float: none;
	margin-right: 0%;

}

.right-half {
	width: 100%;
	float: none;
	margin-left: 0%;
}
}


@media only screen and (max-width: 770px) {
.select:hover {
	background-color: #111111;
	color: white;
}
}

@media only screen and (max-width: 700px) {

p {
	font-size: 1em;

}
}

@media only screen and (max-width: 500px) {
.img {
		height: 20em;
	}
}
