@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
 .wf-loading body {
    visibility: hidden;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
	color: #111111;
}

a:hover {
	cursor: pointer;
}

table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
	  font-family:"Apercu Bold", 'Helvetica', Roboto, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    margin:0;
    padding:0;
    color: #111111;
    z-index: 100;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	  font-family:"Apercu Light", 'Helvetica', Roboto, sans-serif; font-size-adjust:0.508; font-weight:200; font-style:normal;
	  max-width: 1600px;
}

::selection {
  color:  #111111; /* WebKit/Blink Browsers */
  background-color:  #16ffbd;
}
::-moz-selection {
  color:  #111111; /* Gecko Browsers */
  background-color:  #16ffbd;
}

/*NAV BAR START*/

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 44px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,.045);
}

.nav-span {
  width: 90%;
  margin: 0 auto;
}

.logo {
  height: 30px;
  margin-top: 7px;
}

.nav-right {
  font-family:"Apercu Bold", 'Helvetica', Roboto, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
  float: right;
  margin-top: 16px;
}

.nav-right li {
  margin-left: 20px;
  display: inline-block;
}


.nav-links {
  display: inline-block;
}

.link.selected {
  color: #111111;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -ms-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.link--e {
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  color: #BABABA;
}

.link--e:hover {
  color: #111111;
}

.link--e::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 90%;
  margin-top: -8px;
  right: 0;
  background: #F9F9F9;
  transform: translate3d(-100%,0,0);
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--e:hover::after {
  transform: translate3d(100%,0,0);
}

.link--e::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  transition: width 0.3s 0.2s;
}

.link--e:hover::before {
  width: 100%;
}

/*NAV BAR END*/


.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 5.8em;
}
p{
	font-size: 2em;
	color: #111111;
}

.intro {
	position: absolute;
	right: 5%;
	bottom: 40%;
	z-index: 100;
}

.section .center {
	bottom: 40%;
	padding-right: 5%;
}

.center a {
	border-bottom: 1px dotted;
}

.center p {
 font-size: 1.8em;
 margin-bottom: 1em;
}

.center a, .intro a {
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -ms-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.center a:hover, .intro a:hover {
	color:  #16ffbd;
}

.intro p{
	margin: 0 auto;
	font-size: 2em;
}
.section{
	text-align:right;
/*	padding-right: 5%;*/
	position: relative;
}

.img {
   height: 35em;
   margin-right: 60%;
}

.mac {
	margin-right:45%;
}


#menu li {
	display:inline-block;
	margin: 5px;
	border: 1px solid #111111;
	-webkit-transition: background-color .5s;
    -moz-transition:    background-color .5s;
    -ms-transition:     background-color .5s;
    -o-transition:      background-color .5s;
    transition:         background-color .5s;
	
}
#menu li.active{
	background:#111111;
	color: #f9f9f9;
}
#menu li a{
	text-decoration:none;
	color: #111111;
}
#menu li.active a:hover{
	color: #111111;
}
#menu li:hover{
	background: #111111;

}
#menu li a,
#menu li.active a{
	padding: 4px 4px;
	display:block;
}
#menu li.active a{
	color: #111111;
}
#menu{
	position:fixed;
	bottom:5%;
	left:5%;
	z-index: 70;
	width: 10px;
	padding: 0;
	margin:0;
}

.circle {
border-radius: 100px;
}

@media only screen and (max-width: 1180px) {
  .intro h1 {
   font-size: 4em;
  }
  .intro p {
  	font-size: 1.8em;
  }
}

@media only screen and (max-width: 900px) {
  .intro {
  	bottom: 45%;
  }
  .intro h1 {
   font-size: 2.7em;
  }
  .intro p {
  	font-size: 1.5em;
  }

   .img {
  margin-right: 50%;
}

.center a {
	font-size: .9em;
}
}

 @media only screen and (max-width: 700px) {
 	.intro h1 {
 	font-size: 2em;
 	}

  	.intro p {
  	font-size: 1.1em;
  }

  .img {
   height: 25em;
}
 .center a {
	font-size: .45em;
}

.center p {
 font-size: .9em;
}


 }


@media only screen and (max-width: 500px) {

  .img {
   margin-right: 45%;
}

.intro {
	bottom: 5.5%;
}

.iphone {
	height: 20em;
}

}


