@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
 .wf-loading body {
    visibility: hidden;
}

html {
  background-color: white;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
	color: #111111;
}

a:hover {
	cursor: pointer;
}

table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
	  font-family:"Apercu Bold", 'Helvetica Neue', Roboto, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    margin:0;
    padding:0;
    color: #111111;
    z-index: 100;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	  font-family:"Apercu Light", 'Helvetica Neue', Roboto, sans-serif; font-size-adjust:0.508; font-weight:200; font-style:normal;
}

::selection {
  color:  white; /* WebKit/Blink Browsers */
  background-color:  #111111;
}
::-moz-selection {
  color:  white; /* Gecko Browsers */
  background-color:  #111111;
}

/*NAV BAR START*/

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 48px;
  background:rgba(255,255,255, 0.9);
}

.nav-span {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #111111;
}

img.logo {
  height: 30px;
  padding-top: 9px;
  margin-bottom: 4px;
}

.nav-right {
  font-family:"Apercu Bold", 'Helvetica Neue', Roboto, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
  float: right;
  margin-top: 18px;
  letter-spacing: -0.5px;
}

.nav-right li {
  margin-left: 20px;
  display: inline-block;
}


.nav-links {
  display: inline-block;
}

.link.selected {
  color: #111111;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1;
  display: inline-block;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -ms-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.link--e {
  font-weight: 200;
  overflow: hidden;
  color: #959595;
}

.link--e:hover {
  color: #111111;
}

.link--e::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 90%;
  margin-top: -7px;
  right: 0;
  background: white;
  transform: translate3d(-100%,0,0);
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--e:hover::after {
  transform: translate3d(100%,0,0);
}

.link--e::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  transition: width 0.3s 0.2s;
}

.link--e:hover::before {
  width: 100%;
}

/*NAV BAR END*/

h1{
	font-size: 4.8em;
}
p{
	font-size: 1.7em;
	color: #959595;
 letter-spacing: -0.2px;
}

.intro h1, .center h1 {
  letter-spacing: -3.5px;
}

.intro {
	position: absolute;
  text-align: left;
	left: 5%;
	bottom: 5%;
	z-index: 100;
}

.section .center {
  text-align: left;
	bottom: 35%;
	padding-left: 5%;
}

.center p {
 font-size: 1.8em;
 margin-bottom: .5em;
}

.center a, .intro a {
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -ms-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.center a:hover, .intro a:hover {
	color:  #ff0001;
}

.intro p{
	margin: 0 auto;
	font-size: 1.5em;
}
.section{

	text-align:center;
/*	padding-right: 5%;*/
	position: relative;
}

.img {
   height: 35em;
}


#menu li {
	display:block;
	margin: 12px 0 0 0px;
	border: 1px solid #111111;
	-webkit-transition: background-color .5s;
    -moz-transition:    background-color .5s;
    -ms-transition:     background-color .5s;
    -o-transition:      background-color .5s;
    transition:         background-color .5s;

}
#menu li.active{
	background:#111111;
	color: #f9f9f9;
}
#menu li a{
	text-decoration:none;
	color: #111111;
}
#menu li.active a:hover{
	color: #111111;
}
#menu li:hover{
	background: #111111;

}
#menu li a,
#menu li.active a{
	padding: 4px 4px;
	display:block;
}
#menu li.active a{
	color: #111111;
}
#menu{
	position:fixed;
	bottom:5%;
	right:5%;
	z-index: 70;
	padding: 0;
	margin:0;
}

.circle {
border-radius: 100px;
}


@media only screen and (max-width: 1300px) {

  }

@media only screen and (max-width: 1180px) {
  .intro h1,.center h1 {
   font-size: 4em;
  }
    .intro p {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 900px) {
  .intro h1,.center h1 {
   font-size: 2.7em;
  }
  .intro p {
  	font-size: 1.3em;
  }

.center a {
	font-size: .85em;
}
.intro h1, .center h1 {
  letter-spacing: -2.5px;
}
}

 @media only screen and (max-width: 770px) {
.link--e::after {
  background: transparent;
}
}

 @media only screen and (max-width: 700px) {
 	.intro h1, .center h1 {
 	font-size: 2em;
 	}

  .intro p {
  	font-size: 1.1em;
  }

  .img {
   height: 25em;
}
  .center a {
	font-size: .5em;
}

  .center p {
 font-size: 1.4em;
}
.intro h1, .center h1 {
  letter-spacing: -2px;
}

 }


@media only screen and (max-width: 500px) {

.intro {
	bottom: 14px;
}

#menu{
  bottom: 14px;
}
 .center a {
  font-size: .4em;
}

img {
  margin-right: default;
}
.center h1{
  font-size: 1.7em;
}
.intro h1, .center h1 {
  letter-spacing: -1px;
}
}


@media only screen and (max-width: 380px) {

.img {
    height: 20em;
  }

 }
